---
layout: default
title: Home
---

<style>
  * {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left {
    width: 25%;
  }
  
  .right {
    width: 75%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
</style>

<div class="header-bar">
      <h1 class="post-title">
        <a href="{{ site.url }}/about">
         About Me
        </a>
      </h1>
      
      <div class="row">
        <div class="column left">
          <img src="{{ site.url }}/assets/images/headshot_small.jpg"> 
          <p align='center'>Tyson S. Barrett, PhD</p>
        </div>
        <div class="column right">
          <p>{{ site.description3}}</p>
        </div>
      </div>
</div>

<hr>

<h3> Recent Posts </h3>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.url }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>
   {{ post.excerpt }}
   
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

